/* General HTML */

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body, html {
    font-size: 16px;
    background-color: #1A202C !important;
    color: white;
    font-family: sans-serif;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: underline;
    color: teal;
}

a:hover {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.posts-shortcut {
    text-decoration: underline;
    color: rgb(244, 244, 244);
    text-align: center;
    display: block;
}

.posts-shortcut:hover {
    color: teal;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

input {
    height: 34px;
    width: 100%;
    padding: 0 2.5rem 0 0.5rem;
    font-size: 1rem;
}

textarea {
    color: black;
    height: auto;
    width: auto;
    padding: .5rem 2.5rem 0 0.5rem;
    font-size: 1rem;
}

#back {
    text-align: center;
}

/* Notifications and buttons */

.is-danger {
    color: red !important;
}

.empty-msg {
    width: 100%;
    display: block;
}

#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #ffe600;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    color: black;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.cssanimations.csstransforms #note {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

.cssanimations.csstransforms #close {
    display: none;
}

.danger-btn, .update-btn, .view-btn {
    height: 34px;
    width: 89px;
    font-size: .8rem;
    margin: 8px;
    color: black;
    text-decoration: none;
}

.danger-btn {
    background-color: #FF3366;
}

.update-btn {
    background-color: #3399FF;
    color: white;
}

.view-btn {
    background-color: #5ACD86;
}

.view-btn > a {
    text-decoration: none;
}

/* Top and center */

.homepage-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 133px 1fr 133px;
    padding: 8px;
    grid-gap: 13px;
    grid-template-areas: 
    "topbar"
    "content"
    "footer";
}

.logo-place > img {
    width: 100%;
    margin: 34px 0;
}

.sesh-bar {
    padding: 21px;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.sesh-bar > .greetings {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 1.1rem;
}

.sesh-btn {
    height: 34px;
    width: 144px;
    margin: 13px;
    font-size: 1.1rem;
    border-radius: 2px;
    background-color: royalblue;
    color: white;
}

.login-bar {
    height: 34px;
    width: 89px;
    margin-bottom: 13px;
    font-size: 1.1rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: grey;
    border-radius: 2px;
    text-decoration: none;
    color: black;
}

.login-bar:hover {
    color: black;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: auto;
    padding: 21px;
}

.top-bar > p {
    text-align: center;
}

.social-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

.latest-header, .words-header, .bio-header {
    margin: 34px auto;
    text-align: center;
    width: 100%;
    padding: 21px;
    background-color: #2D3748;
    font-size: 1.1rem;
    color: #5acd86;
}

.excerpt {
    background-color: #2D3748;
    width: 300px;
    padding: 21px;
    margin-bottom: 34px;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
}

.excerpt > img {
    width: 233px;
}

.excerpt-details > a {
    font-weight: bold;
    padding: 3px;
    color: white;
    font-size: 1.5rem;
}

.excerpt-details > p {
    color: rgb(201, 201, 201);
    line-height: 25px;
}

.excerpt-details > a > .btn-readmore {
    border-radius: 5px;
    background-color: #5acd86;
    color: black;
    font-weight: bold;
    font-weight: 1.2rem;
    width: 133px;
    height: 40px;
    font-size: 1rem;
    border: none;
    margin: 13px auto;
}

.bio > img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 34px auto;
}

.bio-currently, .bio-message {
    text-align: center;
    margin: 21px auto;
    line-height: 21px;
}

.bio-message > h1 {
    color: white;
    font-size: 1.5rem;
    margin: 21px auto;
}

.bio-message > a {
    text-decoration: none;
}

.bio-message > a button {
    display: block;
    margin: 21px auto;
    height: 55px;
    width: 144px;
    font-size: 1rem;
    background-color: transparent;
    color: #5acd86;
    border: 2px solid #5acd86;
}

#youtube {
    margin-bottom: 21px;
}

#youtube {
    width: 100%;
}

.scroll-latest {
    color: black;
}

/* Post index */

.posts-index {
    margin: 34px 0;
    margin-top: 89px;
}
.post-desc {
    padding: 21px;
    background-color: #2d3748;
    line-height: 25px;
    margin-left: 70px;
    margin-bottom: 21px;
    border-radius: 5px;
    text-align: left;
}

.post-desc > p {
    padding-top: 13px;
    padding-bottom: 13px;
    color: gainsboro;
    margin-left: 0;
}

.posts-index > img {
    height: 55px;
    width: auto;
    margin: 0 auto;
    margin-bottom: 21px;
    padding-right: 13px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
}

/* Contact form */

.contact-form {
    width: 100%;
    margin: 55px auto;
    text-align: center;
}

.contact-form > div > label {
    margin-bottom: 34px 0;
    font-size: 1.3rem;
    color: #5acd86;
}

.contact-form > div > input {
    margin: 21px auto;
    background-color: gainsboro;
}

.contact-form > div > textarea {
    height: 377px;
}

#contact-message {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn-submit-contact {
    height: 55px;
    width: 144px;
    font-size: 1rem;
    background-color: #5acd86;
    color: black;
    font-weight: bold;
    text-align: center;
    align-self: center;
    margin: 34px 0;
}

/* Create Post */

#bodyArea {
    width: 300px;
    font-family: sans-serif;
}

#post-details {
    margin: 21px 0;
}

#post-details div {
    margin: 21px 0;
    font-size: 1.1rem;
}

#post-details span {
    display: block;
    margin: 21px auto;
}

#post-details select {
    width: 100%;
}

.category, .tags, .post-img, .slug {
    width: auto;
    height: auto;
}

.submit {
    text-align: center;
}

.submit-btn {
    height: 55px;
    width: 144px;
    font-size: 1rem;
    background-color: rgb(14, 167, 167);
    color: black;
    border: 2px solid white;
    font-weight: bold;
    margin: 34px 0;;
}

/* Single post */

.single-post {
    padding: 13px;
    height: 100%;
    width: 100%;
    height: 100%;
    padding-bottom: 21px;
    line-height: 28px;
    color: gainsboro;
}

.single-post > p {
    margin-left: 0;
}

.single-post > img {
    margin-bottom: 34px;
}

.header-post {
    font-weight: 500;
    font-size: 2rem;
    padding-bottom: 21px;
    line-height: 40px;
    color: skyblue;
}

.navbar-alt {
    width: 100%;
    height: auto;
    padding: 21px;
}

.navbar-alt > h1 {
    text-align: center;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 55px auto;
    font-weight: 600;
    color: white;
    font-size: 1.8rem;
}

.social-navalt {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 89px;
}

.space-tags {
    margin: 21px auto;
}

.link-purple:hover {
    color: #008080 !important;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    transition-delay: .5s;
}

.space-tags a:hover {
    color: rgb(139, 92, 246);
    text-decoration-line: #5acd86;
    text-decoration: underline;
}

.post-category-img > img {
    width: 50%;
}

/* Comments */

.comments {
    color: white;
    display: flex;
    border-radius: 5px;
    margin-bottom: 13px;
}

.comments img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.comments h5, .comment-p {
    margin-left: 13px;
}

.comments h5 {
    color: #87ceeb;
}

.comment-p {
    font-weight: 300;
    font-kerning: normal;
}

.comments small {
    color: rgb(212, 212, 212);
    font-size: .8rem;
}

.form-group > label {
    color: gainsboro;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 3px;
    margin-bottom: 89px;
    border: none !important;
}

.card-title {
    color: gainsboro !important;
}

.card-body {
    background-color: #1a202c;
    border: none;
    border-radius: 3px;
}

.modal-header {
    border-bottom: 1px solid #1a202c !important;
}

.modal-header > h5 {
    color: gainsboro;
}

.modal-footer {
    border-top: 1px solid #1a202c !important;
}

.modal-body, .modal-footer, .modal-header {
    background-color: #1a202c;
}

.close {
    color: white !important;
}

.mr-3 {
    height: 55px;
    width: 55px;
    border-radius: 100%;
}

.media-body > h5 {
    color: #4aa571;
}

.media-body > div {
    color: gainsboro;
}

.pagination {
    justify-content: flex-end;
}

/* Bottom */

.menu-bar {
    background-color: #333;
    position: fixed;
    width: 100%;
    min-width: 0;
    bottom: 0;
    overflow: hidden;
    padding: 21px;
    z-index: 1;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu-bar > a {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
}

.current-page-item {
    background-color: teal;
    border-radius: 5px;
    padding: 21px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
}

/* Login */

.login-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #87ceeb;
    text-align: center;
    padding-bottom: 21px;
}

.login-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-form > input {
    margin: 21px 0;
}

.remember-me {
    display: flex;
    padding: 21px;
}

.remember-me > span {
    text-align: center;
    vertical-align: middle;
}

input#remember[type="checkbox"] {
    width: 13px;
    height: 34px;
    appearance: none;
    -webkit-appearance: none;
    background-color: rgb(124, 124, 124);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

input#remember[type="checkbox"]::after {
    font-family: "Font Awesome 5 Free";
    content: "\f00c"; 
    font-weight: 900;
    font-size: 30px;
    color: black;
    display: none;
}

input#remember[type="checkbox"]:hover {
    background-color: rgb(82, 82, 82);
}

input#remember[type="checkbox"]:checked {
    background-color: #87ceeb;
}

input#remember[type="checkbox"]:checked:after {
    display: block;
}

.remember-me > span {
    width: 100%;
    position: relative;
    text-align: center;
}

.login-now {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: 144px;
}

.login-btn {
    height: 34px;
    width: 133px;
    margin-bottom: 13px;
    font-size: 1.1rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: teal;
    color: white;
    text-decoration: none;
}

.login-btn::before {
    font-family: "Font Awesome 5 Free";
    content: "\f52b";
    font-weight: 900;
    font-size: 21px;
    color: white;
}

.login-now > a {
    padding: 13px;
}

/** Dashboard **/

.dashbar {
    height: 89px;
    position: fixed;
    background-color: #1B2539;
    width: 100%;
    bottom: 0;
    text-align: center;
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.2);
}

.dashbar a {
    text-decoration: none;
}

.plusbtn, .postbtn {
    background-color: #222E46;
    height: 55px;
    width: 89px;
    color: gainsboro;
    font-size: 1rem;
    padding: 13px;
    border: 1px solid #5ACD86;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 13px;
}

.plusbtn {
    background-color: #5ACD86;
}

.plusbtn::before {
    font-family: "Font Awesome 5 Free";
    content: "\f067";
    font-weight: 900;
    font-size: 21px;
    color: white;
}

.hide {
    display: none;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    bottom: 55px;
    background-color: #1a202c;
    min-width: 144px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: gainsboro;
    border: 1px solid #5acd86;
    border-radius: 2px;
}

.dropup-content a {
    color: gainsboro;
    padding: 13px 21px;
    text-decoration: none;
    display: block;
}

.dropup-content a:focus {
    background-color: #5acd86;
    border-radius: 2px;
    color: black;
}

.show {
    display: block;
}

.dash-logo {
    display: none;
}

.switch {
    display: none;
}

.session-msg {
    text-align: center;
    padding: 13px;
}

.utilities {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    margin-bottom: 144px;
}

#top {
    border-radius: 5px;
    background-color: #2d3748;
    width: auto;
    padding: 34px;
    text-align: center;
    margin: 13px 8px;
}

#middle {
    border-radius: 5px;
    background-color: #2d3748;
    text-align: center;
    margin: 13px 8px;

    display: flex;
    flex-direction: column;
}

.mid-top-utility {
    height: 100%;
    width: auto;
    overflow: scroll;
    margin: 21px auto;
}

.mid-top-utility h1 {
    margin: 13px;
}

.mid-bottom-utility {
    height: auto;
    width: 100%;
}

#bottom {
    border-radius: 5px;
    background-color: #2d3748;
    width: auto;
    padding: 34px;
    text-align: center;
    margin: 13px 8px;

    display: flex;
    flex-direction: column;
}

.bottom-top-utility {
    height: 100%;
    width: 100%;
    border: 1px solid white;
    margin: 13px auto;
}

.bottom-bottom-utility {
    height: 300px;
    border: 1px solid white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #131d30;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #5acd86;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.bio-form, .read-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 21px auto;
    width: 100%;
}

.browse-btn {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.browse-btn:hover {
    color: black;
}

.browse-btn {
    background-color: #0ea7a7;
    font-size: 1rem;
    height: 55px;
    width: 144px;
    margin: 21px;
    border: 2px solid white;
    font-weight: bold;
}

.bio-form > h1, .read-home > h1 {
    color: #5acd86;
    margin: 21px auto;
    font-size: 1.2rem;
}

.bio-form > span, strong, p {
    margin: 13px;
}

.bio-form > button {
    background-color: #0ea7a7;
    font-size: 1rem;
    height: 55px;
    width: 144px;
    margin: 21px;
    border: 2px solid white;
    font-weight: bold;
}

#bioArea {
    font-family: sans-serif;
}

.bio-form > input[type="file"] {
    width: 300px;
}

#updateBtn, #addBtn, .browse-btn {
    background-color: #0ea7a7;
    font-size: 1rem;
    height: 55px;
    width: 144px;
    margin: 13px auto;
    border: 2px solid white;
    font-weight: bold;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #1a202c;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 21px;
    border: 1px solid black;
    border-radius: 3px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.bio-form > input {
    padding: 13px;
}

.bio-form > input[type="file"] {
    width: 233px;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
    color: rgb(66, 66, 66);
    text-decoration: none;
    cursor: pointer;
}

/** Posts **/

.index-header {
    display: none;
}

.index-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 13px;
    width: 100%;
    height: auto;
}

.tabcontent {
    background-color: #042727;

    margin: 13px;
    padding: 13px;
}

.tools {
    padding: 13px;
    display: block;

    overflow: hidden;
    width: auto;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tools a {
    text-decoration: none;
}

.tools button {
    transition: 0.3s;
    height: 34px;
    width: 144px;
    font-size: 1rem;
    margin-bottom: 5px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-bolt {
    font-size: 1.5rem;
    color: goldenrod;
}

.fa-check-circle {
    font-size: 1.5rem;
    color: seagreen;
}

.fa-firstdraft {
    font-size: 1.5rem;
}

.fa-comment{
    font-size: 1.5rem;
    color: skyblue;
}

.fa-eye {
    font-size: 1rem;
    color: black;
}

.tools button.active {
    background-color: #ccc;
}

/** Media Queries **/

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

@media screen and (min-width: 768px) {
    /* paginate */ 
    .logo-place {
        width: 377px;
    }
    /* Top and center */
    .sesh-bar {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
    }
    .homepage-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 133px 1fr 133px;
        place-items: center;
        grid-template-areas:
        "topbar"
        "cards";
        grid-gap: 55px;
        margin: auto 5px;
    }
    .top-bar {
        grid-area: topbar;

        height: auto;
        width: auto;
        place-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "logo social"
        "btns btns";
        grid-gap: 13px;
        margin-top: 55px;
    }
    .menu-bar > a {
        width: 144px;
        padding: 21px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .top-bar > img {
        width: 50%;
    }
    .top-bar > p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-place {
        grid-area: logo;
    }
    .social-bar {
        grid-area: social;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .menu-bar {
        background-color: transparent;
        position: relative;
        width: 100%;
        overflow: hidden;
        height: auto;
        
        grid-area: btns;
    }
    .current-page-item {
        background-color: teal;
        border-radius: 5px;
        padding: 21px;
    }
    .card-content {
        grid-area: cards;

        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 55px 1fr 55px auto;
        grid-gap: 13px;
        grid-template-areas: 
        "header header header2"
        "quickwords quickwords video"
        "header4 header3 header3"
        "bio bio bio";
        padding-top: 55px;
    }
    .latest-header {
        grid-area: header2;
        grid-row: 1;
        grid-column: 3 / 4;
        
        font-size: 1.2rem;
        padding: 13px;
        background-color: #2D3748;
        text-align: center;
        color: white;
        margin: 13px auto;
    }
    .video {
        grid-area: video;
        grid-row: 2;
        grid-column: 3 / 4;

        display: flex;
        flex-direction: column;
        align-self: start;
        border: 5px solid teal;
        border-radius: 5px;
        padding: 13px;
    }
    #youtube {
        margin-bottom: 21px;
    }
    .words-header {
        grid-area: header;
        grid-row: 1;
        grid-column: 1 / 5;
        text-align: start;
        width: 100%;
        font-weight: bold;
        font-size: 2rem;
        position: relative;
        background-color: transparent;
    }
    .quick-words {
        grid-area: quickwords;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
        grid-template-rows: auto;
        grid-gap: 21px;
        align-self: start;
        grid-template-areas: 
        "excerpt";
    }
    .quickwords > .excerpt {
        grid-area: excerpt;
    }
    .excerpt {
        background-color: #2d3748;
        padding: 34px;
        border-radius: 5px;
        text-align: initial;
        width: 100%;
        display: flex;
    }
    .excerpt-details {
        width: 100%;
        padding-left: 21px;
    }
    .excerpt-details > a:hover {
        color: rgb(139, 92, 246);
        text-decoration-line: #5acd86;
        text-decoration: underline;
    }
    .excerpt > img {
        width: 233px;
        height: 233px;
    }
    .excerpt-details > p {
        margin-left: 0;
    }
    .excerpt h1 {
        font-size: 1.5rem;
    }
    .excerpt p {
        text-align: start;
        color: gainsboro;
    }
    .bio {
        grid-area: bio;
        align-self: start;
        grid-row: 4;
        grid-column: 2 / 4;

        display: grid;
        grid-template-rows: 89px auto 1fr;
        width: auto;
        padding: 21px;
        border-radius: 3px;
        background-color: #181818;
    }
    .bio-header {
        text-align: center;
        width: 100%;
        font-weight: bold;
        font-size: 2rem;
        position: relative;
        background-color: transparent;
        color: #5acd86;
        grid-row: 1;
        grid-column: 1;
        height: auto;
        bottom: 34px;
    }
    .bio > img {
        position: relative;
        border-radius: 100%;
        grid-row: 2;
        grid-column: 1;
        width: auto;
    }
    .bio > .bio-message {
        width: 100%;
        grid-row: 2;
        grid-column: 2;
        color: gainsboro;
    }
    .bio-currently {
        grid-row: 3;
        grid-column: 2;
        color: gainsboro;
    }
    .bio-message > a button:hover {
        font-weight: bold;
    }
    /* Contact form */
    .contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 89px 89px 1fr 89px;
        grid-gap: 21px;
        grid-template-areas: 
        "heading heading"
        "name message"
        "email message"
        ". submit";
        margin: 0 auto;
    }
    #contact-heading {
        grid-area: heading;
        text-align: center;
    }
    #contact-name {
        grid-area: name;
        width: 100%;
        border-radius: 3px;
        background-color: #181818;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 21px;
    }
    #contact-email {
        grid-area: email;
        border-radius: 3px;
        background-color: #181818;
        width: 100%;
        height: 89px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 21px;
    }
    #contact-message {
        grid-area: message;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        padding: 21px;
        background-color: #181818;
        font-family: sans-serif;
    }
    #contact-submit {
        grid-area: submit;
    }
    /*Posts index */
    .posts-index {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-auto-rows: auto;
        width: 89%;
        margin-top: 55px;
    }
    .post-desc {
        padding: 21px;
        background-color: #2d3748;
        border-radius: 5px;
        margin-bottom: 21px;
        margin-left: 0;
    }
    .posts-index > img {
        height: auto;
        position: relative;
    }
    /* Single post */
    .single-post {
        width: 610px;
    }
    .form-group {
        width: 610px;
    }
    .comments {
        margin: 0 auto;
        width: 710px;
    }
    .card-body {
        margin-bottom: 0;
    }
    /*Create Post */
    .raro {
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .raro:target {
        visibility: visible;
    }
    .ventana {
        bottom: 34px;
        border-radius: 5px;
        padding: 1em;
        position: relative;
        background-color: #1a202c;
        box-shadow: -7px 3px 14px 3px rgba(0,0,0,0.39)
    }
    #bodyArea {
        width: 100%;
        background-color: transparent;
        border: none;
        color: gainsboro;
        resize: none;
    }
    #bodyArea:focus {
        outline: none !important;
    }
    textarea.tinyMCE {
        width: auto !important;
    }
    .submit-btn:hover {
        border: 2px solid rgb(0, 0, 0);
        color: white;
    }
    /* Comments */
    .comments {
        margin-bottom: 13px;
    }
    .comment-box {
        height: auto;
        width: 100%;
        padding: 0;
    }
    .modal-dialog {
        max-width: 700px !important;
    }
    .form-group {
        width: auto;
        padding: 0;
    }
    /*Login form */
    .login-form {
        width: 610px;
        display: grid;
        grid-template-columns: 233px 1fr;
        place-items: center;
    }
    .remember-me, .login-now {
        grid-column: 2 / 3;
    }
    /* Dashboard */
    .dashboard-grid {
        display: grid;
        grid-template-columns: 337px 55px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "dashbar btn utilities"
        "dashbar btn utilities";
        height: 144vh;
    }
    .dashbar {
        grid-area: dashbar;

        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        bottom: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 13px 21px 0px rgba(0,0,0,0.2);
    }
    .hide {
        display: block;
    }
    .plusbtn {
        display: none;
    }
    .dash-btn, .postbtn {
        cursor: pointer;
        width: 100%;
        height: auto;
        font-size: 1.1rem;
        margin-top: 0;
        border: none;
        background-color: #222E46;
        color: gainsboro;
        margin: 0 auto;
        padding: 13px;
        border-bottom: 3px solid #1b2539;
    }
    .dash-btn:hover, .postbtn:hover {
        background: transparent;
    }
    .dashbar a:focus, button:focus {
        border: 1px solid #5ACD86;
        border-radius: 2px;
    }
    .dropup-content {
        position: relative;
        border: none;
        top: 0;
        min-width: 144px;
        margin: 0;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .dropup-content a:hover {
        background-color: #58c983;
        color: black;
    }
    .dash-logo {
        display: block;
        padding: 21px;
        width: 233px;
        margin: 34px auto;
    }
    .session-msg {
        text-align: center;
    }
    .switch {
        display: block;
        position: relative;
        left: 0;
        grid-area: btn;
        width: 34px;
        height: 100px;
        background-color: #222E46;
        cursor: pointer;
        clip-path: polygon( 
        0% 0%,     /* top left */
        100% 0%,    /* top right */
        100% 55%,  /* bottom right */
        0 100%  );
    }
    .fa-sort {
        font-size: 2rem;
        transform: rotate(90deg);
        color: gainsboro;
        position: relative;
        left: 8px;
        top: 13px;
    }
    .utilities {
        grid-area: utilities;
        
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        margin: 0;
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }
    #top {
        grid-row: 1;
        grid-column: 1;

        padding: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #middle {
        grid-row: 2;
        grid-column: 1;
        background-color: transparent;

        display: flex;
        flex-direction: row;
        padding: 13px;
    }
    .mid-top-utility, .mid-bottom-utility {
        margin: 0 13px;
        height: auto;
        background-color: #2d3748;
        border-radius: 5px;
        box-shadow: 0px 2px 4px #2d3748;
        border: none;
        padding: 13px;
        width: 100%;

        overflow: scroll;
        display: flex;
        flex-direction: column;
    }
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
        animation: fadeEffect 1s;
        background-color: transparent;
    }
    .tabcontent > h1 {
        font-weight: bold;
    }
    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    .index-header {
        display: initial;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        color: white;
    }
    .index-header > span {
        padding: 8px 4px;
        background-color: #1b2539;
    }
    .index-content {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        color: gainsboro;
        background-color: #042727;
        border-radius: 5px;
    }
    .index-content > span {
        width: 100%;
        margin-top: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .post-title {
        grid-column: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .post-category {
        grid-column: 2;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .post-tags {
        grid-column: 3;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .action-btn {
        grid-column: 4;
        display: block;
    }
    .tools {
        padding: 13px;
    
        overflow: hidden;
        width: 100%;
        border-radius: 3px;
    
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        text-align: center;
    }
    .tools button {
        transition: 0.3s;
        height: 34;
        width: 144px;
        font-size: 1rem;
        margin: 13px;
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .tools button:hover {
        background-color: #ddd;
    }
    .tools button.active {
        background-color: #ccc;
    }
    #comments {
        overflow: scroll;
    }
    #comments > .comment-list {
        height: 100%;
        background-color: #042727;
    }
    .guest-name {
        padding: 13px;
    }
    #bottom {
        grid-row: 3;
        grid-column: 1 / 2;
        background-color: transparent;

        display: flex;
        flex-direction: row;
        border-radius: 5px;

        padding: 13px;
    }
    .bottom-top-utility {
        height: auto;
        margin: 0 13px;
        background-color: #2d3748;
        border-radius: 5px;
        box-shadow: 0px 2px 4px #2d3748;
        border: none;
    }
    .bottom-bottom-utility {
        height: auto;
        width: 100%;
        background-color: #2d3748;
        border-radius: 5px;
        box-shadow: 0px 2px 4px #2d3748;
        border: none;
        padding: 13px;
    }
    .bio-form {
        margin: 21px auto;
        width: 50%;
    }
    .bio-form > img {
        position: relative;
        border-radius: 100%;
        width: auto;
    }
    .bio-form > textarea {
        width: 89%;
    }
    .bio-form > input {
        width: 89%;
    }
}

@media only screen and (min-device-width : 768px) 
    and (max-device-width : 1024px)  { 

        .card-content {
            grid-template-columns: 1fr 1fr 1fr;

            grid-template-areas: 
            "header header2"
            "video video"
            "header header"
            "quickwords quickwords";
            padding-top: 0;
        }
        .menu-bar {
            background-color: #333;
            position: fixed;
            width: 100%;
            bottom: 0;
            overflow: hidden;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 21px;
        }
        .top-bar {
            grid-template-areas: 
            "logo logo"
            "social social";
            grid-gap: 34px;
        }
        .top-bar > img {
            width: 89%;
        }
        .logo-place {
            margin: 0;
        }
        .video {
            display: inline-block;
            overflow: auto;
            white-space: nowrap;
        }
        #youtube {
            width: 100%;
            margin-right: 8px;
        }
        #youtube:before {
            display: block;
            text-align: center;
            content: counter(gallery-cell);
            line-height: 200px;
            font-size: 80px;
            color: white;
        }
        .card-content {
            width: 100%;
        }
        /** Posts index **/
        .posts-index {
            width: 100%;
        }
        /* Footer */
        footer {
            display: flex;
            align-self: start;
            padding-bottom: 170px;
        }
        /* Dashboard */
        .dashbar {
            width: auto;
        }
        /* Create Post */
        .newpost-form {
            width: 100%;
        }

}